Repository queens-py/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

pylint-integration-tests:
  name: pylint (tests)
  entry: pylint --disable=duplicate-code
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

mypy:
  name: mypy (check type hinting)
  entry: mypy
  language: python
  pass_filenames: true

docs: remove queens package from menu, make type hinting look nicer, show inits, and fix docstring bugs
  .gitignore
  doc/README.md
  doc/source/_ext/create_documentation_files.py
  doc/source/_ext/templates/1-monte_carlo_uq.rst.j2
  doc/source/_ext/templates/introduction.md.j2
  doc/source/_ext/templates/packages.rst.j2
  doc/source/conf.py
  doc/source/index.rst
  doc/source/tutorials/0-onboarding.rst
  src/queens/data_processors/csv_file.py
  src/queens/iterators/elementary_effects.py
  src/queens/iterators/hamiltonian_monte_carlo.py
  src/queens/iterators/least_squares.py
  src/queens/iterators/metropolis_hastings.py
  src/queens/iterators/metropolis_hastings_pymc.py
  src/queens/iterators/nuts.py
  src/queens/iterators/optimization.py
  src/queens/iterators/reinforcement_learning.py
  src/queens/models/finite_difference.py
  src/queens/models/likelihoods/bmf_gaussian.py
  src/queens/models/surrogates/jitted_gaussian_process.py
  src/queens/utils/jax_minimize_wrapper.py
Due: check-license-header, docformatter, black, pylint, mypy

docs: fix typos found by Copilot
  doc/README.md
  src/queens/iterators/elementary_effects.py
  src/queens/iterators/hamiltonian_monte_carlo.py
  src/queens/iterators/metropolis_hastings_pymc.py
  src/queens/iterators/nuts.py
  src/queens/models/likelihoods/bmf_gaussian.py
Due: check-license-header, docformatter, black, pylint

docs: improve documentation (#263)
  .gitignore
  doc/README.md
  doc/source/_ext/create_documentation_files.py
  doc/source/_ext/templates/1-monte_carlo_uq.rst.j2
  doc/source/_ext/templates/introduction.md.j2
  doc/source/_ext/templates/packages.rst.j2
  doc/source/conf.py
  doc/source/index.rst
  doc/source/tutorials/0-onboarding.rst
  src/queens/data_processors/csv_file.py
  src/queens/iterators/elementary_effects.py
  src/queens/iterators/hamiltonian_monte_carlo.py
  src/queens/iterators/least_squares.py
  src/queens/iterators/metropolis_hastings.py
  src/queens/iterators/metropolis_hastings_pymc.py
  src/queens/iterators/nuts.py
  src/queens/iterators/optimization.py
  src/queens/iterators/reinforcement_learning.py
  src/queens/models/finite_difference.py
  src/queens/models/likelihoods/bmf_gaussian.py
  src/queens/models/surrogates/jitted_gaussian_process.py
  src/queens/utils/jax_minimize_wrapper.py
Due: check-license-header, docformatter, black, pylint, mypy

docs: add remote computing tutorial
  src/queens/drivers/jobscript.py
  tests/integration_tests/cluster/test_dask_cluster.py
  tests/tutorial_tests/test_3_grid_iterator_fourc_remote.py
  tutorials/3_grid_iterator_fourc_remote.ipynb
  tutorials/solid_runtime_hex8.4C.yaml
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests

fix: typos, don't execute notebook with sphinx, move input file
  tutorials/3_grid_iterator_fourc_remote.ipynb
  tutorials/input_files/solid_runtime_hex8.4C.yaml
Due: yamllint

fix: change experiment base dir for tutorial test & remove mocking this dir for all other cluster tests
  src/queens/schedulers/cluster.py
  src/queens/utils/config_directories.py
  tests/integration_tests/cluster/test_cluster.py
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

fix: fix tutorial markdown such that it's rendered correctly by Sphinx
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: none

test: avoid duplicate code & clean up cluster tests
  src/queens/schedulers/cluster.py
  tests/integration_tests/cluster/test_cluster.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

feat: expose job_script_prologue parameter
  src/queens/schedulers/cluster.py
Due: check-license-header, docformatter, black, pylint

docs: include Bishr's feedback
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: none

docs: include student's feedback
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: none

test: adapt cluster test to account for new parameter
  templates/jobscripts/fourc_charon.sh
  tests/integration_tests/cluster/test_dask_cluster.py
Due: check-license-header, docformatter, black, pylint-integration-tests

feat: Add option to copy files from a remote job to the local machine
  src/queens/schedulers/cluster.py
  src/queens/utils/remote_operations.py
Due: check-license-header, docformatter, black, pylint, mypy

docs: fix broken links & activate failing on broken links warnings & fix tutorial 1 rendering
  .github/workflows/build_documentation.yml
  CONTRIBUTING.md
  doc/README.md
  doc/source/_ext/templates/introduction.md.j2
  doc/source/conf.py
  doc/source/faq.md
  doc/source/faqs/directories.md
  doc/source/faqs/requirements.md
  doc/source/tutorials/0-onboarding.rst
  doc/warnings.txt
  src/queens/variational_distributions/mixture_model.py
  tutorials/1_grid_iterator_rosenbrock.ipynb
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

refactor: rsync function
  src/queens/utils/remote_operations.py
  src/queens/utils/rsync.py
Due: check-license-header, docformatter, black, pylint, mypy

test: functionality for copying files from remote
  tests/integration_tests/cluster/test_dask_cluster.py
Due: check-license-header, docformatter, black, pylint-integration-tests

refactor: Adapt according to suggestions from review
  src/queens/utils/remote_operations.py
  tests/integration_tests/cluster/test_dask_cluster.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

refactor: Apply suggestions from review
  src/queens/schedulers/cluster.py
Due: check-license-header, docformatter, black, pylint

docs: Adapt doc string according to review suggestion
  src/queens/schedulers/cluster.py
Due: check-license-header, docformatter, black, pylint

docs: Update tutorials/1_grid_iterator_rosenbrock.ipynb
  tutorials/1_grid_iterator_rosenbrock.ipynb
Due: none

docs: fix quotation marks in tutorial 1
  tutorials/1_grid_iterator_rosenbrock.ipynb
Due: none

docs: apply Daniel's feedback
  CONTRIBUTING.md
  tests/README.md
Due: none

Add job script prologue parameter (#268)
  src/queens/schedulers/cluster.py
  templates/jobscripts/fourc_charon.sh
  tests/integration_tests/cluster/test_dask_cluster.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

Add functionality to copy files from remote after computation (#269)
  src/queens/schedulers/cluster.py
  src/queens/utils/remote_operations.py
  src/queens/utils/rsync.py
  tests/integration_tests/cluster/test_dask_cluster.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

feat: remove-empty-experiment-dirs
  src/queens/global_settings.py
  src/queens/schedulers/_dask.py
  src/queens/schedulers/_scheduler.py
  src/queens/schedulers/cluster.py
  tests/integration_tests/cluster/test_dask_cluster.py
  tests/unit_tests/schedulers/test_experiment_dir.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

test: rename tests related to deleting the experiment dir
  tests/unit_tests/schedulers/test_experiment_dir.py
Due: check-license-header, docformatter, black, pylint

fix: fix cluster test that tests copying remote data to local machine
  tests/integration_tests/cluster/test_dask_cluster.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: fix cluster test that tests copying remote data to local machine (#270)
  tests/integration_tests/cluster/test_dask_cluster.py
Due: check-license-header, docformatter, black, pylint-integration-tests

feat: remove empty experiment dirs (#242)
  src/queens/global_settings.py
  src/queens/schedulers/_dask.py
  src/queens/schedulers/_scheduler.py
  src/queens/schedulers/cluster.py
  tests/integration_tests/cluster/test_dask_cluster.py
  tests/unit_tests/schedulers/test_experiment_dir.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

Add renovate.json
  renovate.json
Due: none

chore: add new renovate configuration
  renovate.json
Due: none

chore(deps): update dependency jinja2 to v3.1.6 [security]
  dev-requirements.txt
  requirements.txt
Due: none

chore(deps): update dependency requests to v2.32.4 [security]
  dev-requirements.txt
  requirements.txt
Due: none

chore(deps): update dependency bokeh to v3.8.2 [security]
  requirements.txt
Due: none

chore(deps): update dependency filelock to v3.20.3 [security]
  dev-requirements.txt
  requirements.txt
Due: none

chore(deps): update dependency fonttools to v4.60.2 [security]
  requirements.txt
Due: none

chore(deps): update dependency keras to v3.13.1 [security]
  requirements.txt
Due: none

chore(deps): update dependency protobuf to v5.29.5 [security]
  requirements.txt
Due: none

chore(deps): update dependency pynacl to v1.6.2 [security]
  requirements.txt
Due: none

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$, but not: ^tests/integration_tests/
  pylint-integration-tests: any of: ^tests/integration_tests/ and \.py$
  mypy: any of: \.py$, but not: (?x)^(
^docs/|
^tests/|
^test_utils/|
^src/example_simulator_functions/|
^src/queens_interfaces/|
^src/queens/(data_processors|distributions|drivers|iterators|models|parameters)/|
^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
^src/queens/main.py|
^src/queens/global_settings.py
).*$

