Repository queens-py/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

pylint-integration-tests:
  name: pylint (tests)
  entry: pylint --disable=duplicate-code
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

mypy:
  name: mypy (check type hinting)
  entry: mypy
  language: python
  pass_filenames: true

build: remove contourpy as explicit dependency
  pyproject.toml
Due: none

build: make dev group uv installable
  pyproject.toml
Due: none

build: add license information to metadata
  pyproject.toml
Due: none

build: cleanup pixi workspace
  pyproject.toml
Due: none

build: prepare switch from liccheck to pip-licenses
  pyproject.toml
Due: none

build: add pixi.lock
  .pre-commit-config.yaml
  pixi.lock
Due: yamllint

ci: switch github ci to pixi
  .github/workflows/build_documentation.yml
  .github/workflows/tests_local.yml
Due: yamllint

build: add editable install of QUEENS to pixi default feature/ environment
  pixi.lock
  pyproject.toml
Due: none

ci: pixi list is called after install anyway
  .github/workflows/tests_local.yml
Due: yamllint

build: fix black python version warning
  pyproject.toml
Due: none

ci: ensure that pipline fails if one code check fails
  .github/workflows/tests_local.yml
Due: yamllint

ci: deactivate caching
  .github/workflows/build_documentation.yml
  .github/workflows/tests_local.yml
Due: yamllint

ci: skip .pixi path for nbstripout
  .github/workflows/tests_local.yml
Due: yamllint

build: add license exception for torch
  pyproject.toml
Due: none

feat: rework remote env build and remote tests with using pixi
  .gitlab/.gitlab-ci.yml
  src/queens/utils/remote_build.py
  src/queens/utils/remote_operations.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

build: add license exception for PySide6
  pyproject.toml
Due: none

feat: format warning
  src/queens/utils/remote_operations.py
Due: check-license-header, docformatter, black, pylint, mypy

feat: fix checking pixi availability
  src/queens/utils/remote_operations.py
Due: check-license-header, docformatter, black, pylint, mypy

feat: fix checking pixi availabnility without warning
  src/queens/utils/remote_operations.py
Due: check-license-header, docformatter, black, pylint, mypy

build: add license exception for shiboken6
  pyproject.toml
Due: none

feat(distributions): add truncated normal distribution
  src/queens/distributions/__init__.py
  src/queens/distributions/truncated_normal.py
  tests/unit_tests/distributions/test_truncated_normal.py
Due: check-license-header, docformatter, black, pylint

feat: check integrity of dependencies in pyproject
  .pre-commit-config.yaml
  tools/dependencies/check_pyproject_dependency_integrity.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

build: make pyproject dependencies consistent
  .pre-commit-config.yaml
  pyproject.toml
Due: yamllint

ci: add dependency integrity checks to ci pipeline
  .github/workflows/tests_local.yml
  tools/dependencies/diff_pyproject_dependency_declarations.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

ci: use cache only on main
  .github/workflows/tests_local.yml
Due: yamllint

ci: improve logs of pixi integrity checks
  .github/workflows/tests_local.yml
Due: yamllint

ci: make sure that pixi.lock not already changed
  .github/workflows/tests_local.yml
Due: yamllint

ci: fix pixi lock
  .github/workflows/tests_local.yml
Due: yamllint

ci: allow pixi lock to fail
  .github/workflows/tests_local.yml
Due: yamllint

ci: remove authentication to prefix dev
  .github/workflows/tests_local.yml
Due: yamllint

ci: reactivate cache and deactivate auth
  .github/workflows/build_documentation.yml
Due: yamllint

fix: mypy errors
  src/queens/parameters/random_fields/karhunen_loeve.py
  src/queens/utils/iterative_averaging.py
  tutorials/3_orchestrating_4c_simulations/plot_results.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/plot_input_random_field.py
Due: check-license-header, docformatter, black, pylint, mypy

refactor(truncated_normal): rename mu/sigma to unbounded_mean/unbounded_std
  src/queens/distributions/truncated_normal.py
  tests/unit_tests/distributions/test_truncated_normal.py
Due: check-license-header, docformatter, black, pylint

ci: bump version of skywalking eyes (license header checks) up to 0.8.0
  .github/workflows/tests_local.yml
Due: yamllint

fix: np.trapz renamed to np.trapezoid in numpy > 2.0
  tutorials/2_uncertainty_propagation_and_quantification.ipynb
Due: none

build: fix pypi overwrite of tensorflow-probability
  pixi.lock
  pyproject.toml
  tools/dependencies/check_pyproject_dependency_integrity.py
Due: check-license-header, docformatter, black, pylint, mypy

build: manually install queens package in environments
  .github/workflows/tests_local.yml
  pixi.lock
  pyproject.toml
  tools/dependencies/check_pyproject_dependency_integrity.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

build: deactivate default feature for all environments
  pixi.lock
  pyproject.toml
  tools/dependencies/check_pyproject_dependency_integrity.py
Due: check-license-header, docformatter, black, pylint, mypy

build: fix environment in documentation build workflow
  .github/workflows/build_documentation.yml
Due: yamllint

docs: fix documentation build warnings
  doc/README.md
  doc/source/faqs/requirements.md
Due: none

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$, but not: ^tests/integration_tests/
  pylint-integration-tests: any of: ^tests/integration_tests/ and \.py$
  mypy: any of: \.py$, but not: (?x)^(
^docs/|
^tests/|
^test_utils/|
^src/example_simulator_functions/|
^src/queens_interfaces/|
^src/queens/(data_processors|distributions|drivers|iterators|models|parameters)/|
^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
^src/queens/main.py|
^src/queens/global_settings.py
).*$

