Repository queens-py/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

pylint-integration-tests:
  name: pylint (tests)
  entry: pylint --disable=duplicate-code
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

mypy:
  name: mypy (check type hinting)
  entry: mypy
  language: python
  pass_filenames: true

chore(deps): update dependency torch to v2.8.0 [security]
  requirements.txt
Due: none

chore(deps): update dependency tornado to v6.5 [security]
  dev-requirements.txt
  requirements.txt
Due: none

chore(deps): update dependency urllib3 to v2.6.3 [security]
  dev-requirements.txt
  requirements.txt
Due: none

chore(deps): update dependency virtualenv to v20.36.1 [security]
  dev-requirements.txt
Due: none

chore(deps): update dependency werkzeug to v3.1.5 [security]
  requirements.txt
Due: none

ci: add action that updates dependencies every 6 months
  .github/renovate.json
  .github/workflows/update_dependencies.yml
Due: yamllint

docs: fix broken links & rendering (#267)
  .github/workflows/build_documentation.yml
  CONTRIBUTING.md
  doc/README.md
  doc/source/_ext/templates/introduction.md.j2
  doc/source/conf.py
  doc/source/faq.md
  doc/source/faqs/directories.md
  doc/source/faqs/requirements.md
  doc/source/tutorials/0-onboarding.rst
  doc/warnings.txt
  src/queens/variational_distributions/mixture_model.py
  tests/README.md
  tutorials/1_grid_iterator_rosenbrock.ipynb
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

ci: install setuptools<82 to avoid deprecation of pkg_resources module
  environment.yml
Due: yamllint

docs: add remote computing tutorial
  src/queens/drivers/jobscript.py
  tests/integration_tests/cluster/test_dask_cluster.py
  tests/tutorial_tests/test_3_grid_iterator_fourc_remote.py
  tutorials/3_grid_iterator_fourc_remote.ipynb
  tutorials/solid_runtime_hex8.4C.yaml
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests

fix: typos, don't execute notebook with sphinx, move input file
  tutorials/3_grid_iterator_fourc_remote.ipynb
  tutorials/input_files/solid_runtime_hex8.4C.yaml
Due: yamllint

fix: change experiment base dir for tutorial test & remove mocking this dir for all other cluster tests
  src/queens/schedulers/cluster.py
  src/queens/utils/config_directories.py
  tests/integration_tests/cluster/test_cluster.py
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

fix: fix tutorial markdown such that it's rendered correctly by Sphinx
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: none

test: avoid duplicate code & clean up cluster tests
  src/queens/schedulers/cluster.py
  tests/integration_tests/cluster/test_cluster.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

docs: include student's feedback
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: none

docs: include Bishr's feedback
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: none

docs: rename tutorial from 3 to 5
  tests/integration_tests/cluster/test_cluster.py
  tests/tutorial_tests/test_5_grid_iterator_4C_remote.py
  tutorials/5_grid_iterator_4C_remote/5_grid_iterator_4C_remote.ipynb
  tutorials/5_grid_iterator_4C_remote/solid_runtime_hex8.4C.yaml
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests

test: make new tutorial test comply with pylint
  tests/integration_tests/cluster/test_cluster.py
  tests/tutorial_tests/test_5_grid_iterator_4c_remote.py
  tests/tutorial_tests/test_tutorials.py
  tutorials/5_grid_iterator_4c_remote/5_grid_iterator_4c_remote.ipynb
  tutorials/5_grid_iterator_4c_remote/solid_runtime_hex8.4C.yaml
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests

feat: add tutorial on Uncertainty Quantification Based on Heterogeneous Material Fields in 4C (#293)
  .github/workflows/build_documentation.yml
  tests/input_files/third_party/fourc/coarse_plate_dirichlet_with_exo_template.4C.yaml
  tests/input_files/third_party/fourc/membrane_20.e
  tests/integration_tests/fourc/test_fourc_mc_random_material_field.py
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
  tutorials/3_orchestrating_4c_simulations/experimental_data.py
  tutorials/3_orchestrating_4c_simulations/plot_results.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/plot_input_random_field.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/random_field.py
  tutorials/__init__.py
  tutorials/utils.py
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

fix: np.linalg imports
  src/queens/models/surrogates/utils/kernel_jitted.py
Due: check-license-header, docformatter, black, pylint

build: split conda environment file into denpendency groups
  environment.base.yml
  environment.dev.yml
  environment.fourc.yml
  environment.tutorials.yml
Due: yamllint

build: add tf-keras dependency explicitly and limit setuptools version for gpflow
  environment.base.yml
Due: yamllint

build: change to conda driven dependency management
  .github/actions/create_python_environment/action.yml
  .github/workflows/build_documentation.yml
  .github/workflows/tests_local.yml
  .gitlab/.gitlab-ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  composed.conda-lock.yml
  dev-requirements.in
  dev-requirements.txt
  doc/README.md
  doc/source/faqs/requirements.md
  environment.yml
  pyproject.toml
  requirements.in
  requirements.txt
  src/queens/utils/remote_build.py
  src/queens/utils/remote_operations.py
  src/queens_interfaces/fourc/README.md
  src/queens_interfaces/fourc/fourc_requirements.txt
  src/queens_interfaces/fourc/random_material_preprocessor.py
  tutorial-requirements.in
  tutorial-requirements.txt
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

build: activate base to find conda-lock
  .github/actions/create_python_environment/action.yml
Due: yamllint

ci: clean conda cache
  .github/actions/create_python_environment/action.yml
Due: yamllint

ci: use mamba for conda-lock
  .github/actions/create_python_environment/action.yml
Due: yamllint

ci: bump actions/checkout to v5
  .github/workflows/tests_local.yml
Due: yamllint

ci: use miniforge
  .github/actions/create_python_environment/action.yml
Due: yamllint

refactor: blackify code with new black version
  src/queens/data_processors/__init__.py
  src/queens/distributions/__init__.py
  src/queens/drivers/__init__.py
  src/queens/drivers/jobscript.py
  src/queens/iterators/__init__.py
  src/queens/models/__init__.py
  src/queens/schedulers/__init__.py
  src/queens/schedulers/cluster.py
  src/queens/stochastic_optimizers/__init__.py
  src/queens/variational_distributions/__init__.py
  tests/unit_tests/variational_distributions/test_variational_distributions.py
Due: check-license-header, docformatter, black, pylint

test: update .pylintrc to latest pylint version
  .pylintrc
Due: none

build: add particles name to pypi dependency
  environment.base.yml
Due: yamllint

build: fix import errors arviz 1.0.0 by bumping pymc version
  composed.conda-lock.yml
  environment.base.yml
Due: yamllint

build: adapt pydoe name to non-camelcase
  environment.base.yml
  src/queens/iterators/latin_hypercube_sampling.py
Due: check-license-header, docformatter, black, yamllint, pylint

build: introduce base enviroment to pyproject.toml with pixi
  .gitignore
  pyproject.toml
Due: none

build: add current pip-tools mininum versions
  pyproject.toml
Due: none

build: remove pixi feature queens and cleanup
  pyproject.toml
Due: none

build: bump versions to current conda-lock versions
  pyproject.toml
Due: none

build: first working setup with uv venv
  pyproject.toml
Due: none

build: introduce pixi features
  pyproject.toml
Due: none

build: add explicit dependency of contourpy
  pyproject.toml
Due: none

build: update pypi dependencies based on latest conda-lock
  pyproject.toml
Due: none

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$, but not: ^tests/integration_tests/
  pylint-integration-tests: any of: ^tests/integration_tests/ and \.py$
  mypy: any of: \.py$, but not: (?x)^(
^docs/|
^tests/|
^test_utils/|
^src/example_simulator_functions/|
^src/queens_interfaces/|
^src/queens/(data_processors|distributions|drivers|iterators|models|parameters)/|
^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
^src/queens/main.py|
^src/queens/global_settings.py
).*$

