Repository queens-py/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

Tutorial: Remove Json dependancy
  tests/unit_tests/tutorials/test_1_grid_iterator_rosenbrock.py
Due: check-license-header, docformatter, black, pylint

docs: add favicon
  doc/source/conf.py
  doc/source/images/favicon.ico
Due: check-license-header, docformatter, black, pylint

feat: introduce logger on dask workers in drivers and dataprocessors
  src/queens/data_processors/_data_processor.py
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
  src/queens/utils/config_directories.py
  src/queens/utils/logger_settings.py
Due: check-license-header, docformatter, black, pylint

feat: use one worker log file per job written to subdir of job dir
  src/queens/data_processors/_data_processor.py
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
  src/queens/utils/config_directories.py
  src/queens/utils/logger_settings.py
Due: check-license-header, docformatter, black, pylint

feat: expose worker log level and control of log file to user
  src/queens/data_processors/_data_processor.py
  src/queens/data_processors/csv_file.py
  src/queens/data_processors/numpy_file.py
  src/queens/data_processors/pvd_file.py
  src/queens/data_processors/txt_file.py
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
  src/queens/drivers/mpi.py
  src/queens_interfaces/fourc/driver.py
Due: check-license-header, docformatter, black, pylint

docs: specify waiting time is business days only
  CONTRIBUTING.md
Due: none

feat: update gitignore
  .gitignore
Due: none

refactor: move tutorials to the most upper level
  .gitignore
  .pylintrc
  doc/source/_ext/create_documentation_files.py
  doc/source/_ext/templates/1-monte_carlo_uq.rst.j2
  doc/source/index.rst
  doc/source/tutorials.rst
  doc/source/tutorials/0-onboarding.rst
  tests/unit_tests/tutorials/test_2_grid_iterator_rosenbrock.py
  tests/unit_tests/tutorials/test_tutorials.py
  tutorials/2-grid-iterator-rosenbrock.ipynb
Due: check-license-header, docformatter, black, pylint

docs: add F.A.Q.
  doc/source/conf.py
  doc/source/faq.md
  doc/source/faq/requirements.md
Due: check-license-header, docformatter, black, pylint

docs: add missing source
  .github/workflows/build_documentation.yml
  doc/README.md
Due: yamllint

feat: Introduce Queens tutorials
  tests/unit_tests/tutorials/test_1_grid_iterator_rosenbrock.py
  tests/unit_tests/tutorials/test_2_grid_iterator_rosenbrock.py
  tests/unit_tests/tutorials/test_tutorials.py
  tutorials/1-grid-iterator-rosenbrock/1-grid-iterator-rosenbrock-solution.ipynb
  tutorials/1-grid-iterator-rosenbrock/1-grid-iterator-rosenbrock.ipynb
  tutorials/1-grid-iterator-rosenbrock/visualize_grid_and_surface.py
  tutorials/2-uncertainty-propagation-and-quantification/2-uncertainty_propagation.ipynb
  tutorials/2-uncertainty-propagation-and-quantification/poisson_solver.py
Due: check-license-header, docformatter, black, pylint

style: introduce type hinting in utils module
  .github/workflows/tests_local.yml
  .pre-commit-config.yaml
  dev-requirements.in
  dev-requirements.txt
  pyproject.toml
  src/queens/utils/ascii_art.py
  src/queens/utils/classifier.py
  src/queens/utils/cli.py
  src/queens/utils/collection.py
  src/queens/utils/config_directories.py
  src/queens/utils/configure_tensorflow.py
  src/queens/utils/exceptions.py
  src/queens/utils/experimental_data_reader.py
  src/queens/utils/fd_jacobian.py
  src/queens/utils/gpflow_transformations.py
  src/queens/utils/imports.py
  src/queens/utils/injector.py
  src/queens/utils/io.py
  src/queens/utils/iterative_averaging.py
  src/queens/utils/jax_minimize_wrapper.py
  src/queens/utils/logger_settings.py
  src/queens/utils/mcmc.py
  src/queens/utils/metadata.py
  src/queens/utils/numpy_array.py
  src/queens/utils/numpy_linalg.py
  src/queens/utils/path.py
  src/queens/utils/pdf_estimation.py
  src/queens/utils/plot_outputs.py
  src/queens/utils/pool.py
  src/queens/utils/printing.py
  src/queens/utils/process_outputs.py
  src/queens/utils/random_process_scaler.py
  src/queens/utils/remote_build.py
  src/queens/utils/remote_operations.py
  src/queens/utils/rsync.py
  src/queens/utils/run_subprocess.py
  src/queens/utils/sequential_monte_carlo.py
  src/queens/utils/sobol_sequence.py
  src/queens/utils/start_dask_cluster.py
  src/queens/utils/valid_options.py
Due: check-license-header, docformatter, black, yamllint, pylint

style: include copilot review comments
  src/queens/utils/classifier.py
  src/queens/utils/cli.py
  src/queens/utils/fd_jacobian.py
  src/queens/utils/gpflow_transformations.py
  src/queens/utils/jax_minimize_wrapper.py
  src/queens/utils/path.py
  src/queens/utils/sobol_sequence.py
Due: check-license-header, docformatter, black, pylint

style: include 2nd round of copilot review comments
  .pre-commit-config.yaml
  src/queens/utils/fd_jacobian.py
  src/queens/utils/io.py
  src/queens/utils/jax_minimize_wrapper.py
  src/queens/utils/mcmc.py
  tests/unit_tests/utils/test_path_utils.py
Due: check-license-header, docformatter, black, yamllint, pylint

style: include Gil's review comments
  dev-requirements.in
  dev-requirements.txt
  pyproject.toml
  src/queens/utils/ascii_art.py
  src/queens/utils/classifier.py
  src/queens/utils/collection.py
  src/queens/utils/exceptions.py
  src/queens/utils/gpflow_transformations.py
  src/queens/utils/mcmc.py
  tests/integration_tests/conftest.py
Due: check-license-header, docformatter, black, pylint

ci: update license header check version
  .github/workflows/tests_local.yml
  .gitlab/pipeline_utils/create_licenserc.py
Due: check-license-header, docformatter, black, yamllint, pylint

style: fix duplicate code errors in src
  .github/workflows/tests_local.yml
  src/queens/data_processors/_data_processor.py
  src/queens/data_processors/csv_file.py
  src/queens/data_processors/numpy_file.py
  src/queens/data_processors/txt_file.py
  src/queens/distributions/_distribution.py
  src/queens/distributions/exponential.py
  src/queens/distributions/mean_field_normal.py
  src/queens/distributions/normal.py
  src/queens/drivers/mpi.py
  src/queens/iterators/bbvi.py
  src/queens/iterators/hamiltonian_monte_carlo.py
  src/queens/iterators/latin_hypercube_sampling.py
  src/queens/iterators/least_squares.py
  src/queens/iterators/metropolis_hastings.py
  src/queens/iterators/nuts.py
  src/queens/iterators/reparameteriztion_based_variational.py
  src/queens/iterators/sequential_monte_carlo.py
  src/queens/iterators/sobol_sequence.py
  src/queens/models/surrogates/bayesian_neural_network.py
  src/queens/models/surrogates/gaussian_process.py
  src/queens/models/surrogates/heteroskedastic_gaussian_process.py
  src/queens/models/surrogates/variational_gaussian_process.py
  src/queens/stochastic_optimizers/adamax.py
  src/queens/stochastic_optimizers/rms_prop.py
  src/queens/stochastic_optimizers/sgd.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens_interfaces/fourc/driver.py
Due: check-license-header, docformatter, black, yamllint, pylint

style: enable duplicate code for tests other than integration tests
  .github/workflows/tests_local.yml
  .pre-commit-config.yaml
Due: yamllint

fix: serialization error of run_driver function
  src/queens/schedulers/_dask.py
Due: check-license-header, docformatter, black, pylint

refactor: refactor scaling module
  src/queens/models/surrogates/gaussian_neural_network.py
  src/queens/models/surrogates/jitted_gaussian_process.py
  src/queens/utils/scaling.py
Due: check-license-header, docformatter, black, pylint

style: add type hinting to distributions
  .pre-commit-config.yaml
  pyproject.toml
  src/queens/distributions/__init__.py
  src/queens/distributions/_distribution.py
  src/queens/distributions/bernoulli.py
  src/queens/distributions/beta.py
  src/queens/distributions/categorical.py
  src/queens/distributions/exponential.py
  src/queens/distributions/free_variable.py
  src/queens/distributions/lognormal.py
  src/queens/distributions/mean_field_normal.py
  src/queens/distributions/mixture.py
  src/queens/distributions/multinomial.py
  src/queens/distributions/normal.py
  src/queens/distributions/particle.py
  src/queens/distributions/uniform.py
  src/queens/distributions/uniform_discrete.py
  src/queens/utils/imports.py
Due: check-license-header, docformatter, black, yamllint, pylint

style: include Copilot's review comments
  src/queens/distributions/mixture.py
  src/queens/distributions/normal.py
Due: check-license-header, docformatter, black, pylint

style: fix typos
  src/queens/distributions/_distribution.py
  src/queens/distributions/categorical.py
  src/queens/distributions/particle.py
Due: check-license-header, docformatter, black, pylint

fix: Restore PR211
  src/queens/schedulers/local.py
Due: check-license-header, docformatter, black, pylint

fix: Enable Pylance for log_init_args decorator
  src/queens/utils/logger_settings.py
Due: check-license-header, docformatter, black, pylint

fix: fix errors when running pre-commit run --all-files & unify mypy testing
  .github/pull_request_template.md
  .pre-commit-config.yaml
  doc/source/faq/directories.md
  pyproject.toml
Due: yamllint

fix: Disable ruff for jupyter files
  .github/pull_request_template.md
  .pre-commit-config.yaml
  pyproject.toml
Due: yamllint

feat: add Queens crown and font
  src/queens/utils/ascii_art.py
Due: check-license-header, docformatter, black, pylint

feat: Modify description of QUEENS
  src/queens/utils/ascii_art.py
Due: check-license-header, docformatter, black, pylint

style: include Gil's feedback
  src/queens/distributions/_distribution.py
  src/queens/distributions/beta.py
  src/queens/distributions/free_variable.py
  src/queens/distributions/mixture.py
Due: check-license-header, docformatter, black, pylint

feat: add flag & user prompt to overwrite existing experiment directory
  src/queens/drivers/jobscript.py
  src/queens/schedulers/_scheduler.py
  src/queens/schedulers/cluster.py
  src/queens/schedulers/local.py
  src/queens/schedulers/pool.py
  src/queens/utils/config_directories.py
  tests/integration_tests/cluster/test_dask_cluster.py
  tests/unit_tests/conftest.py
  tests/unit_tests/drivers/test_jobscript.py
  tests/unit_tests/schedulers/test_experiment_dir.py
Due: check-license-header, docformatter, black, pylint

Add draft for a nested simulation driver
  src/queens/drivers/nested_simulation_driver.py
Due: check-license-header, docformatter, black, pylint

feat(Parameters): Expose add_parameters to user
  src/queens/parameters/parameters.py
Due: check-license-header, docformatter, black, pylint

feat: Remove pyfiglet dependancy
  requirements.in
  requirements.txt
  src/queens/utils/ascii_art.py
  src/queens/utils/cli.py
Due: check-license-header, docformatter, black, pylint

fix: Adjust logo to be centered
  src/queens/utils/ascii_art.py
  src/queens/utils/printing.py
Due: check-license-header, docformatter, black, pylint

feat(Parameters): add a parameters dict to sample conversion
  src/queens/parameters/parameters.py
  tests/unit_tests/parameters/test_parameters.py
Due: check-license-header, docformatter, black, pylint

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$
