Repository queens-py/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

pylint-integration-tests:
  name: pylint (tests)
  entry: pylint --disable=duplicate-code
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

mypy:
  name: mypy (check type hinting)
  entry: mypy
  language: python
  pass_filenames: true

feat: introduce logger on dask workers in drivers and dataprocessors
  src/queens/data_processors/_data_processor.py
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
  src/queens/utils/config_directories.py
  src/queens/utils/logger_settings.py
Due: check-license-header, docformatter, black, pylint, mypy

feat: use one worker log file per job written to subdir of job dir
  src/queens/data_processors/_data_processor.py
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
  src/queens/utils/config_directories.py
  src/queens/utils/logger_settings.py
Due: check-license-header, docformatter, black, pylint, mypy

feat: expose worker log level and control of log file to user
  src/queens/data_processors/_data_processor.py
  src/queens/data_processors/csv_file.py
  src/queens/data_processors/numpy_file.py
  src/queens/data_processors/pvd_file.py
  src/queens/data_processors/txt_file.py
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
  src/queens/drivers/mpi.py
  src/queens_interfaces/fourc/driver.py
Due: check-license-header, docformatter, black, pylint

refactor: rename job_directory helper function and use in driver
  src/queens/drivers/_driver.py
  src/queens/models/adjoint.py
  src/queens/utils/config_directories.py
Due: check-license-header, docformatter, black, pylint, mypy

fix: add type hinting
  src/queens/utils/logger_settings.py
Due: check-license-header, docformatter, black, pylint, mypy

feat: split manage paths and output files
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
Due: check-license-header, docformatter, black, pylint

feat: turn off worker log files for Function driver on default
  src/queens/drivers/function.py
Due: check-license-header, docformatter, black, pylint

fix: duplicate code pylint warning
  src/queens/data_processors/csv_file.py
  src/queens/data_processors/numpy_file.py
  src/queens/data_processors/pvd_file.py
  src/queens/data_processors/txt_file.py
Due: check-license-header, docformatter, black, pylint

style: add type hinting to parameters
  .pre-commit-config.yaml
  pyproject.toml
  src/queens/distributions/__init__.py
  src/queens/distributions/_distribution.py
  src/queens/distributions/beta.py
  src/queens/distributions/free_variable.py
  src/queens/distributions/mean_field_normal.py
  src/queens/parameters/parameters.py
  src/queens/parameters/random_fields/__init__.py
  src/queens/parameters/random_fields/_random_field.py
  src/queens/parameters/random_fields/fourier.py
  src/queens/parameters/random_fields/karhunen_loeve.py
  src/queens/parameters/random_fields/piece_wise.py
Due: check-license-header, docformatter, black, yamllint, pylint

test: add remark on pytest markers for cluster tests
  tests/conftest.py
Due: check-license-header, docformatter, black, pylint

style: include Gil's feedback
  src/queens/distributions/__init__.py
  src/queens/parameters/random_fields/__init__.py
  src/queens/parameters/random_fields/fourier.py
  src/queens/parameters/random_fields/karhunen_loeve.py
Due: check-license-header, docformatter, black, pylint

style: include Copilot's feedback
  src/queens/parameters/parameters.py
  src/queens/parameters/random_fields/_random_field.py
  src/queens/parameters/random_fields/fourier.py
  src/queens/parameters/random_fields/karhunen_loeve.py
  src/queens/parameters/random_fields/piece_wise.py
Due: check-license-header, docformatter, black, pylint

refactor: move transformation to dict to simulation model
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
  src/queens/models/adjoint.py
  src/queens/models/finite_difference.py
  src/queens/models/simulation.py
  src/queens/schedulers/_dask.py
  src/queens/schedulers/pool.py
  tests/unit_tests/models/test_differentiable_adjoint.py
  tests/unit_tests/models/test_differentiable_fd.py
  tests/unit_tests/models/test_simulation.py
Due: check-license-header, docformatter, black, pylint

refactor: possible rework of simulation model
  sequential_model.py
  src/queens/data_processors/_data_processor.py
  src/queens/drivers/__init__.py
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
  src/queens/drivers/mpi.py
  src/queens/models/simulation.py
  src/queens/schedulers/_dask.py
  src/queens/schedulers/_scheduler.py
  src/queens/utils/metadata.py
  tests/integration_tests/cluster/test_fourc_mc_cluster.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

feat: add flag & user prompt to overwrite existing experiment directory
  src/queens/drivers/jobscript.py
  src/queens/schedulers/_scheduler.py
  src/queens/schedulers/cluster.py
  src/queens/schedulers/local.py
  src/queens/schedulers/pool.py
  src/queens/utils/config_directories.py
  tests/integration_tests/cluster/test_dask_cluster.py
  tests/unit_tests/conftest.py
  tests/unit_tests/drivers/test_jobscript.py
  tests/unit_tests/schedulers/test_experiment_dir.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

feat: include feedback on safety check
  src/queens/schedulers/_dask.py
  src/queens/schedulers/_scheduler.py
  src/queens/schedulers/cluster.py
  src/queens/schedulers/local.py
  src/queens/schedulers/pool.py
  src/queens/utils/config_directories.py
  tests/integration_tests/cluster/test_dask_cluster.py
  tests/integration_tests/fourc/test_fourc_mc.py
  tests/integration_tests/fourc/test_fourc_mc_random_material_field.py
  tests/unit_tests/conftest.py
  tests/unit_tests/drivers/test_jobscript.py
  tests/unit_tests/schedulers/test_experiment_dir.py
  tests/unit_tests/tutorials/test_tutorials.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

style: remove quotation marks
  src/queens/parameters/random_fields/piece_wise.py
Due: check-license-header, docformatter, black, pylint

style: add numpy conversion to at_least_2d() & simplify KarhunenLoeve init
  src/queens/distributions/normal.py
  src/queens/parameters/random_fields/_random_field.py
  src/queens/parameters/random_fields/karhunen_loeve.py
  src/queens/utils/numpy_array.py
Due: check-license-header, docformatter, black, pylint, mypy

feat: simplify parameter init for FreeVariable
  src/queens/parameters/parameters.py
  tests/integration_tests/iterators/test_optimization.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

ci: switch to 4c-minimal image
  .github/workflows/tests_local.yml
Due: yamllint

refactor: remove post_ensight
  .github/workflows/tests_local.yml
  test_utils/integration_tests.py
  tests/conftest.py
  tests/integration_tests/cluster/test_dask_cluster.py
  tests/integration_tests/fourc/conftest.py
  tests/integration_tests/fourc/test_fourc_mc.py
  tests/integration_tests/fourc/test_fourc_mc_random_material_field.py
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests

add some alternatives
  src/queens/drivers/jobscript_add_different_run_function.py
  src/queens/drivers/jobscript_with_dict_mapping.py
  src/queens/models/simulation_from_callable.py
Due: check-license-header, docformatter, black, pylint

fix: fix variational covariance init from prior
  src/queens/iterators/_variational_inference.py
  tests/integration_tests/iterators/test_bmfia.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

refactor: rename file of PRVI iterator according to naming standards
  src/queens/iterators/__init__.py
  src/queens/iterators/rpvi.py
  tests/integration_tests/iterators/test_bmfia.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

feat: Introduce Queens tutorials
  tests/unit_tests/tutorials/test_1_grid_iterator_rosenbrock.py
  tests/unit_tests/tutorials/test_2_grid_iterator_rosenbrock.py
  tests/unit_tests/tutorials/test_tutorials.py
  tutorials/1-grid-iterator-rosenbrock.ipynb
  tutorials/2-grid-iterator-rosenbrock.ipynb
  tutorials/2-uncertainty-propagation-and-quantification.ipynb
Due: check-license-header, docformatter, black, pylint

feat: add tutorial requirements
  doc/source/tutorials.rst
  pyproject.toml
  test_utils/unit_tests/notebooks.py
  tests/unit_tests/tutorials/test_1_grid_iterator_rosenbrock.py
  tests/unit_tests/tutorials/test_tutorials.py
  tuto-requirements.in
  tuto-requirements.txt
  tutorials/2-uncertainty-propagation-and-quantification.ipynb
Due: check-license-header, docformatter, black, pylint

feat: allow function in simulation model
  src/queens/drivers/_driver.py
  src/queens/drivers/function.py
  src/queens/drivers/jobscript.py
  src/queens/models/adjoint.py
  src/queens/models/simulation.py
  tests/unit_tests/drivers/test_jobscript.py
  tests/unit_tests/iterators/conftest.py
  tests/unit_tests/iterators/test_elementary_effects.py
  tests/unit_tests/iterators/test_latin_hypercube_sampling.py
  tests/unit_tests/iterators/test_monte_carlo.py
  tests/unit_tests/iterators/test_sobol_index.py
  tests/unit_tests/iterators/test_sobol_sequence.py
  tests/unit_tests/models/test_differentiable_adjoint.py
  tests/unit_tests/models/test_differentiable_fd.py
  tests/unit_tests/models/test_simulation.py
Due: check-license-header, docformatter, black, pylint

feat(Jobscript): Optionally make jobscript_template selection sample-dependent
  src/queens/drivers/jobscript.py
Due: check-license-header, docformatter, black, pylint

refactor(Jobscript): Move hardcoded output names to function arguments
  src/queens/drivers/jobscript.py
Due: check-license-header, docformatter, black, pylint

fix: remove np.sqrt
  src/queens/iterators/_variational_inference.py
Due: check-license-header, docformatter, black, pylint

style: add type hinting to variational distributions
  .pre-commit-config.yaml
  pyproject.toml
  src/queens/utils/type_hinting.py
  src/queens/variational_distributions/__init__.py
  src/queens/variational_distributions/_variational_distribution.py
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/joint.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens/variational_distributions/mixture_model.py
  src/queens/variational_distributions/particle.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

feat(Parameters): add a parameters dict to sample conversion
  src/queens/parameters/parameters.py
  tests/unit_tests/parameters/test_parameters.py
Due: check-license-header, docformatter, black, pylint

style: Switch to TypeVars for numpy arrays
  src/queens/distributions/__init__.py
  src/queens/parameters/random_fields/__init__.py
  src/queens/utils/type_hinting.py
  src/queens/variational_distributions/__init__.py
  src/queens/variational_distributions/_variational_distribution.py
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/joint.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens/variational_distributions/mixture_model.py
  src/queens/variational_distributions/particle.py
Due: check-license-header, docformatter, black, pylint, mypy

feat(Parameters): add a parameters dict to sample conversion (#233)
  src/queens/parameters/parameters.py
  tests/unit_tests/parameters/test_parameters.py
Due: check-license-header, docformatter, black, pylint

feat(Jobscript): Inject sample into jobscript_template
  src/queens/drivers/jobscript.py
Due: check-license-header, docformatter, black, pylint

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$, but not: ^tests/integration_tests/
  pylint-integration-tests: any of: ^tests/integration_tests/ and \.py$
  mypy: any of: \.py$, but not: (?x)^(
^docs/|
^tests/|
^test_utils/|
^src/example_simulator_functions/|
^src/queens_interfaces/|
^src/queens/(data_processors|distributions|drivers|iterators|models|parameters)/|
^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
^src/queens/main.py|
^src/queens/global_settings.py
).*$

