Repository queens-py/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

.pre-commit-config.yaml:

default_stages: [pre-commit, pre-merge-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2 # Ruff version
    hooks:
      # Run the linter.
      # Needs to placed before black, isort, and other formatters
      - id: ruff
        args: [--fix]
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        name: fix end of files
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: check-added-large-files
        name: check for added large files
        entry: check-added-large-files
        language: python
        types: [text]
      - id: check-license-header
        name: check for correct license header
        entry: licenseheaders
        args: ["-t", "license_header.tmpl", "--files"]
        language: python
        types: ["python"]
        pass_filenames: true
      - id: docformatter
        name: docformatter
        entry: docformatter
        args: [--in-place]
        language: python
        types: ["python"]
      - id: commitizen
        name: commitizen
        entry: cz
        args: ["check", "--commit-msg-file", ".git/COMMIT_EDITMSG"]
        pass_filenames: false
        language: system
        stages: [commit-msg, manual]
      - id: isort
        name: isort (python)
        entry: isort
        language: python
        always_run: false
        pass_filenames: true
        additional_dependencies: ["toml"]
      - id: black
        name: black
        entry: black
        language: python
        types: ["python"]
        always_run: false
        pass_filenames: true
        additional_dependencies: ["toml"]
      - id: yamllint
        name: yamllint
        entry: yamllint
        args:
          - > # This is needed to lint the jinja templates
            -d={extends: default, rules: {braces: {max-spaces-inside: 1}
            , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
          - -f=colored
        language: python
        types: ["yaml"]
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: ["python"]
        additional_dependencies: ["toml"]
        always_run: false
        pass_filenames: true
        exclude: '^tests/integration_tests/'
      - id: pylint-integration-tests
        name: pylint (tests)
        entry: pylint --disable=duplicate-code
        language: python
        types: ["python"]
        additional_dependencies: ["toml"]
        always_run: false
        pass_filenames: true
        files: '^tests/integration_tests/'
      - id: mypy
        name: mypy (check type hinting)
        entry: mypy
        language: python
        types: ["python"]
        pass_filenames: true
        # Delete modules once type hinting has been introduced there
        exclude: |
          (?x)^(
          ^docs/|
          ^tests/|
          ^test_utils/|
          ^src/example_simulator_functions/|
          ^src/queens_interfaces/|
          ^src/queens/(data_processors|distributions|drivers|iterators|models|parameters)/|
          ^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
          ^src/queens/main.py|
          ^src/queens/global_settings.py
          ).*$
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: Strip outputs from Jupyter notebooks
        files: \.ipynb$

docs: add tutorial on allocation of computing resources
  .gitignore
  test_utils/tutorial_tests.py
  tutorials/6_core_allocation.ipynb
Due: check-license-header, docformatter, black, pylint

docs: fix heading hierarchy in core allocation tutorial
  tutorials/6_core_allocation.ipynb
Due: none

docs: apply review feedback to core allocation tutorial
  tutorials/6_core_allocation.ipynb
Due: none

docs: add lessons learned section to core allocation tutorial
  tutorials/6_core_allocation.ipynb
Due: none

docs: reword core allocation example for clarity
  tutorials/6_core_allocation.ipynb
Due: none

docs: add Tutorial on Allocation of Computing Resources (#319)
  .gitignore
  test_utils/tutorial_tests.py
  tutorials/6_core_allocation.ipynb
Due: check-license-header, docformatter, black, pylint

build: update dependencies
  .pixi-version
  pixi.lock
Due: none

docs: add AI-assisted contributions policy (#335)
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

fix: replace deprecated np.row_stack with np.vstack & check if gnuplot is available before plotting (changes were assisted by Claude Opus 5)
  src/queens/iterators/classification.py
  src/queens/variational_distributions/joint.py
  src/queens/visualization/gnuplot_vis.py
  tests/unit_tests/distributions/test_mixture.py
  tests/unit_tests/variational_distributions/test_variational_distributions.py
Due: check-license-header, docformatter, black, pylint

Print-intermediate-optimization-result
  src/queens/iterators/optimization.py
Due: check-license-header, docformatter, black, pylint

feat: first implementation on Bayesian optimization
  src/queens/iterators/bayesian_optimization.py
  tests/integration_tests/iterators/test_bayesian_optimization.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

chore: Make a dummy change
  src/queens/data_processors/txt_file.py
Due: check-license-header, docformatter, black, pylint

ci: Correct PR age check
  .github/workflows/check_pull_request_age.yml
Due: yamllint

fix: tutorial 3 that reruns a job with a different data processor
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
Due: none

feat: write job inputs and outputs as pickle & introduce data processor flag for reruns
  src/queens/drivers/jobscript.py
  src/queens/iterators/adaptive_sampling.py
  src/queens/utils/io.py
  src/queens/utils/metadata.py
  src/queens/utils/process_outputs.py
  tests/conftest.py
  tests/integration_tests/drivers/test_jobscript_driver.py
  tests/unit_tests/conftest.py
  tests/unit_tests/drivers/test_jobscript.py
  tests/unit_tests/utils/test_io_utils.py
  tests/unit_tests/utils/test_metadata.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

feat: allow reusing existing job results
  src/queens/drivers/jobscript.py
  src/queens/models/adjoint.py
  src/queens/utils/metadata.py
  tests/conftest.py
  tests/integration_tests/drivers/test_jobscript_driver.py
  tests/unit_tests/drivers/test_jobscript.py
  tests/unit_tests/models/test_differentiable_adjoint.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

docs: update experiment directory documentation & allow executing tutorial 3 locally
  doc/source/faqs/directories.md
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
Due: none

refactor: include Regina's first feedback
  doc/source/faqs/directories.md
  src/queens/drivers/jobscript.py
  src/queens/utils/io.py
  tests/unit_tests/drivers/test_jobscript.py
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
Due: check-license-header, docformatter, black, pylint, mypy

chore: include copilot's feedback, data processor is now also called when outputs.pickle doesn't exist
  src/queens/drivers/jobscript.py
  tests/unit_tests/drivers/test_jobscript.py
Due: check-license-header, docformatter, black, pylint

refactor: include Regina's second feedback
  doc/source/faqs/directories.md
  src/queens/drivers/jobscript.py
  src/queens/schedulers/_scheduler.py
  src/queens/utils/metadata.py
  tests/unit_tests/drivers/test_jobscript.py
  tests/unit_tests/utils/test_io_utils.py
  tests/unit_tests/utils/test_metadata.py
  tutorials/1_grid_iterator_rosenbrock.ipynb
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
  tutorials/5_grid_iterator_4c_remote/5_grid_iterator_4c_remote.ipynb
Due: check-license-header, docformatter, black, pylint, mypy

feat: Allow to pass all run arguments to function
  src/queens/drivers/function.py
Due: check-license-header, docformatter, black, pylint

test: Add test case
  tests/unit_tests/drivers/test_function.py
Due: check-license-header, docformatter, black, pylint

test: refactor jobscript driver integration test to avoid duplicate code
  tests/integration_tests/drivers/test_jobscript_driver.py
Due: check-license-header, docformatter, black, pylint-integration-tests

test: test reusing jobs of main driver with the adjoint model & remove unused random seed from VI iterators
  src/queens/iterators/_variational_inference.py
  src/queens/iterators/bbvi.py
  src/queens/iterators/rpvi.py
  src/queens/models/adjoint.py
  tests/integration_tests/iterators/test_bbvi.py
  tests/integration_tests/iterators/test_bmfia.py
  tests/integration_tests/iterators/test_rpvi.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

fix: set job to unsuccessful initially & while a subsection is being executed
  src/queens/utils/metadata.py
Due: check-license-header, docformatter, black, pylint, mypy

test: Add test case
  src/example_simulator_functions/sobol_g_function.py
  tests/unit_tests/drivers/test_function.py
Due: check-license-header, docformatter, black, pylint

chore: remove experimental data reader
  src/queens/iterators/adaptive_sampling.py
  src/queens/iterators/bmfia.py
  src/queens/models/likelihoods/_likelihood.py
  src/queens/models/likelihoods/bmf_gaussian.py
  src/queens/models/likelihoods/gaussian.py
  src/queens/utils/experimental_data_reader.py
  tests/integration_tests/iterators/conftest.py
  tests/integration_tests/iterators/test_bbvi.py
  tests/integration_tests/iterators/test_bmfia.py
  tests/integration_tests/iterators/test_hamiltonian_monte_carlo.py
  tests/integration_tests/iterators/test_metropolis_hastings.py
  tests/integration_tests/iterators/test_metropolis_hastings_pymc.py
  tests/integration_tests/iterators/test_nuts.py
  tests/integration_tests/iterators/test_rpvi.py
  tests/integration_tests/iterators/test_sequential_monte_carlo.py
  tests/integration_tests/iterators/test_sequential_monte_carlo_chopin.py
  tests/integration_tests/models/test_logpdf_gaussian_process.py
  tests/unit_tests/conftest.py
  tests/unit_tests/interfaces/test_bmfia_interface.py
  tests/unit_tests/iterators/test_adaptive_sampling.py
  tests/unit_tests/iterators/test_bmfia.py
  tests/unit_tests/models/test_bayesian_mf_gaussian.py
  tests/unit_tests/models/test_gaussian.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

fix: apply Copilot's feedback
  src/queens/models/likelihoods/bmf_gaussian.py
  tests/unit_tests/models/test_bayesian_mf_gaussian.py
Due: check-license-header, docformatter, black, pylint

fix: documentation badge in README
  README.md
Due: none

fix: documentation badge in README (#354)
  README.md
Due: none
