Repository queens-py/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

pylint-integration-tests:
  name: pylint (tests)
  entry: pylint --disable=duplicate-code
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

mypy:
  name: mypy (check type hinting)
  entry: mypy
  language: python
  pass_filenames: true

fix: type hinting
  src/queens/models/bmfmc.py
Due: check-license-header, docformatter, black, pylint

docs: link to external README.md to fix warning
  doc/source/faqs/requirements.md
Due: none

ci: introduce testing on macos
  .github/workflows/tests_local.yml
Due: yamllint

ci: split jobs into code checks and tests
  .github/workflows/tests_local.yml
Due: yamllint

ci: ensure install queens to correct interpreter
  .github/workflows/tests_local.yml
Due: yamllint

ci: cleanup tests_local workflow
  .github/workflows/tests_local.yml
Due: yamllint

ci: split into three cleaned workflows
  .github/workflows/build_documentation.yml
  .github/workflows/code_quality.yml
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: add names for build documentation
  .github/workflows/build_documentation.yml
Due: yamllint

ci: unify pytest calls
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: upload artifacts as last step
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: always run tutorial tests even if some core tests fail
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: make step names more explicit
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: remove unnecessary PR write access
  .github/workflows/code_quality.yml
Due: yamllint

build: remove dependency bokeh
  pixi.lock
  pyproject.toml
Due: none

build: remove dependency cython
  pixi.lock
  pyproject.toml
Due: none

build: remove dependency autograd
  pixi.lock
  pyproject.toml
Due: none

build: remove dependency optax
  pixi.lock
  pyproject.toml
Due: none

ci: remove PR write access in local testsuite workflow
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: introduce queens setup action to reduce duplicate code
  .github/actions/setup-queens-pixi/action.yml
  .github/workflows/build_documentation.yml
  .github/workflows/code_quality.yml
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: fix name of 4C integration tests job
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: split into three test steps, compute coverage and junit report from all three
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: always build test reports
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: only build all envs once in code checks use only queens-dev for tests
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: use relative coverage paths to enable combining from docker and non docker runs
  pyproject.toml
Due: none

ci: bump version of upload artifact action
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: bump version of checkout action
  .github/workflows/build_documentation.yml
  .github/workflows/code_quality.yml
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: bump version of upload pages artifact
  .github/workflows/build_documentation.yml
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: bump version of deploy pages
  .github/workflows/build_documentation.yml
Due: yamllint

ci: bump version of download artifact
  .github/workflows/local_testsuite.yml
Due: yamllint

ci: bump version of junit report
  .github/workflows/local_testsuite.yml
Due: yamllint

test: avoid duplicate code & clean up cluster tests
  src/queens/schedulers/cluster.py
  tests/integration_tests/cluster/test_cluster.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

fix: fix tutorial markdown such that it's rendered correctly by Sphinx
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: none

fix: typos, don't execute notebook with sphinx, move input file
  tutorials/3_grid_iterator_fourc_remote.ipynb
  tutorials/input_files/solid_runtime_hex8.4C.yaml
Due: yamllint

fix: change experiment base dir for tutorial test & remove mocking this dir for all other cluster tests
  src/queens/schedulers/cluster.py
  src/queens/utils/config_directories.py
  tests/integration_tests/cluster/test_cluster.py
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

docs: include Bishr's feedback
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: none

docs: add remote computing tutorial
  src/queens/drivers/jobscript.py
  tests/integration_tests/cluster/test_dask_cluster.py
  tests/tutorial_tests/test_3_grid_iterator_fourc_remote.py
  tutorials/3_grid_iterator_fourc_remote.ipynb
  tutorials/solid_runtime_hex8.4C.yaml
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests

docs: rename tutorial from 3 to 5
  tests/integration_tests/cluster/test_cluster.py
  tests/tutorial_tests/test_5_grid_iterator_4C_remote.py
  tutorials/5_grid_iterator_4C_remote/5_grid_iterator_4C_remote.ipynb
  tutorials/5_grid_iterator_4C_remote/solid_runtime_hex8.4C.yaml
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests

test: make new tutorial test comply with pylint
  tests/integration_tests/cluster/test_cluster.py
  tests/tutorial_tests/test_5_grid_iterator_4c_remote.py
  tests/tutorial_tests/test_tutorials.py
  tutorials/5_grid_iterator_4c_remote/5_grid_iterator_4c_remote.ipynb
  tutorials/5_grid_iterator_4c_remote/solid_runtime_hex8.4C.yaml
Due: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests

docs: include student's feedback
  tutorials/3_grid_iterator_fourc_remote.ipynb
Due: none

fix: include Daniel's feedback
  src/queens/utils/config_directories.py
  tests/tutorial_tests/test_5_grid_iterator_4c_remote.py
  tutorials/5_grid_iterator_4c_remote/5_grid_iterator_4c_remote.ipynb
Due: check-license-header, docformatter, black, pylint, mypy

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$, but not: ^tests/integration_tests/
  pylint-integration-tests: any of: ^tests/integration_tests/ and \.py$
  mypy: any of: \.py$, but not: (?x)^(
^docs/|
^tests/|
^test_utils/|
^src/example_simulator_functions/|
^src/queens_interfaces/|
^src/queens/(data_processors|distributions|drivers|iterators|models|parameters)/|
^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
^src/queens/main.py|
^src/queens/global_settings.py
).*$

