Repository queens-py/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

pylint-integration-tests:
  name: pylint (tests)
  entry: pylint --disable=duplicate-code
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

mypy:
  name: mypy (check type hinting)
  entry: mypy
  language: python
  pass_filenames: true

fix: revert rglob to glob to keep 4C tutorials from being tested
  tests/tutorial_tests/test_5_grid_iterator_4c_remote.py
  tests/tutorial_tests/test_tutorials.py
Due: check-license-header, docformatter, black, pylint

style: add type hinting to variational distributions
  .pre-commit-config.yaml
  pyproject.toml
  src/queens/utils/type_hinting.py
  src/queens/variational_distributions/__init__.py
  src/queens/variational_distributions/_variational_distribution.py
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/joint.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens/variational_distributions/mixture_model.py
  src/queens/variational_distributions/particle.py
Due: check-license-header, docformatter, black, yamllint, pylint, mypy

docs: remove mention of 3rd dimension
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/mean_field_normal.py
Due: check-license-header, docformatter, black, pylint

style: Switch to TypeVars for numpy arrays
  src/queens/distributions/__init__.py
  src/queens/parameters/random_fields/__init__.py
  src/queens/utils/type_hinting.py
  src/queens/variational_distributions/__init__.py
  src/queens/variational_distributions/_variational_distribution.py
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/joint.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens/variational_distributions/mixture_model.py
  src/queens/variational_distributions/particle.py
Due: check-license-header, docformatter, black, pylint, mypy

refactor: move V to variational distribution
  src/queens/variational_distributions/_variational_distribution.py
  src/queens/variational_distributions/joint.py
  src/queens/variational_distributions/mixture_model.py
Due: check-license-header, docformatter, black, pylint

fix: sphinx error due to V TypeVar
  doc/source/conf.py
Due: check-license-header, docformatter, black, pylint, mypy

feat: allow reusing existing job results
  src/queens/drivers/jobscript.py
  src/queens/models/adjoint.py
  src/queens/utils/metadata.py
  tests/conftest.py
  tests/integration_tests/drivers/test_jobscript_driver.py
  tests/unit_tests/drivers/test_jobscript.py
  tests/unit_tests/models/test_differentiable_adjoint.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

ci: remove verbose flag to keep collecting log output
  .gitlab/.gitlab-ci.yml
Due: yamllint

fix(schedulers): avoid duplicated/shared job_directives_skip list
  src/queens/schedulers/_cluster_base.py
Due: check-license-header, docformatter, black, pylint

test(schedulers): add ClusterLocal unit and integration tests
  pyproject.toml
  tests/conftest.py
  tests/integration_tests/cluster_local/__init__.py
  tests/integration_tests/cluster_local/test_cluster_local.py
  tests/unit_tests/schedulers/test_cluster_local.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

ci(cluster_local): run integration tests against SLURM in Docker
  .github/workflows/tests_cluster_local.yml
  tests/integration_tests/cluster_local/docker/Dockerfile
  tests/integration_tests/cluster_local/docker/slurm.conf
  tests/integration_tests/cluster_local/docker/start-slurm.sh
Due: yamllint

style(schedulers): drop redundant parens in timedelta_to_str
  src/queens/schedulers/_cluster_base.py
Due: check-license-header, docformatter, black, pylint

ci(cluster_local): build the SLURM test image with pixi
  .github/workflows/tests_cluster_local.yml
  tests/integration_tests/cluster_local/docker/Dockerfile
  tests/integration_tests/cluster_local/docker/start-slurm.sh
Due: yamllint

fix(schedulers): correct dashboard port and worker retirement
  src/queens/schedulers/_cluster_base.py
  src/queens/schedulers/cluster_local.py
Due: check-license-header, docformatter, black, pylint

ci(cluster_local): surface slurmd startup failure in logs
  tests/integration_tests/cluster_local/docker/start-slurm.sh
Due: none

ci(cluster_local): disable slurm cgroup plugin for containers
  tests/integration_tests/cluster_local/docker/Dockerfile
  tests/integration_tests/cluster_local/docker/cgroup.conf
Due: none

ci(cluster_local): use IgnoreSystemd for cgroups, not invalid 'disabled'
  tests/integration_tests/cluster_local/docker/cgroup.conf
Due: none

ci(cluster_local): build SLURM image on ubuntu 22.04 (slurm 21.08)
  tests/integration_tests/cluster_local/docker/Dockerfile
  tests/integration_tests/cluster_local/docker/cgroup.conf
Due: none

docs(cluster_local): trim verbose comments and docstrings
  src/queens/schedulers/_cluster_base.py
  src/queens/schedulers/cluster_local.py
  tests/integration_tests/cluster_local/docker/Dockerfile
  tests/integration_tests/cluster_local/docker/slurm.conf
  tests/integration_tests/cluster_local/docker/start-slurm.sh
  tests/integration_tests/cluster_local/test_cluster_local.py
  tests/unit_tests/schedulers/test_cluster_local.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

ci(cluster_local): rename workflow to Docker tests
  .github/workflows/docker_tests.yml
Due: yamllint

test: trim and document cluster_local SLURM container
  .github/workflows/docker_tests.yml
  tests/integration_tests/cluster_local/docker/Dockerfile
  tests/integration_tests/cluster_local/docker/slurm.conf
  tests/integration_tests/cluster_local/docker/start-slurm.sh
Due: yamllint

test: remove test_clusterlocal_is_a_cluster_scheduler function
  tests/unit_tests/schedulers/test_cluster_local.py
Due: check-license-header, docformatter, black, pylint

build: update dependencies
  .pixi-version
  pixi.lock
Due: none

ci(cluster_local): read pixi version from top-level .pixi-version
  tests/integration_tests/cluster_local/docker/Dockerfile
Due: none

test(cluster_local): address review feedback on slurm tests
  tests/integration_tests/cluster_local/docker/slurm.conf
  tests/integration_tests/cluster_local/docker/start-slurm.sh
  tests/integration_tests/cluster_local/test_cluster_local.py
  tests/unit_tests/schedulers/test_cluster_local.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

ci: fold cluster_local docker test into Testsuite workflow
  .github/workflows/docker_tests.yml
  .github/workflows/local_testsuite.yml
Due: yamllint

ci(cluster_local): bump actions/checkout to v7
  .github/workflows/local_testsuite.yml
Due: yamllint

refactor(cluster_local): rename port variables, move get_port to utils
  src/queens/schedulers/cluster_local.py
  src/queens/utils/ports.py
  src/queens/utils/remote_operations.py
Due: check-license-header, docformatter, black, pylint, mypy

style: Disable ruff D102 on override
  pyproject.toml
Due: none

feat: Add GaussianKDE distribution
  src/queens/distributions/__init__.py
  src/queens/distributions/gaussian_kde.py
  tests/unit_tests/distributions/test_gaussian_kde.py
Due: check-license-header, docformatter, black, pylint

docs: add tutorial on allocation of computing resources
  .gitignore
  test_utils/tutorial_tests.py
  tutorials/6_core_allocation.ipynb
Due: check-license-header, docformatter, black, pylint

docs: fix heading hierarchy in core allocation tutorial
  tutorials/6_core_allocation.ipynb
Due: none

docs: add lessons learned section to core allocation tutorial
  tutorials/6_core_allocation.ipynb
Due: none

fix: improve duplicate file error message
  src/queens/data_processors/_data_processor.py
Due: check-license-header, docformatter, black, pylint

fix: remove pytest-codestyle dependency & update pixi.lock accordingly
  pixi.lock
  pyproject.toml
Due: none

fix: regenerate pixi.lock with correct pixi version 0.71.3
  pixi.lock
Due: none

fix: resolve issues due to dependency updates
  pyproject.toml
  src/queens/visualization/classification.py
  tests/integration_tests/iterators/test_control_variates.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

fix: resolve round-off errors due to dependency updates
  tests/integration_tests/iterators/test_control_variates.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: allow larger deviations when testing control variates
  tests/integration_tests/iterators/test_control_variates.py
Due: check-license-header, docformatter, black, pylint-integration-tests

fix: allow larger deviations on num_samples_cv when testing control variates
  tests/integration_tests/iterators/test_control_variates.py
Due: check-license-header, docformatter, black, pylint-integration-tests

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$, but not: ^tests/integration_tests/
  pylint-integration-tests: any of: ^tests/integration_tests/ and \.py$
  mypy: any of: \.py$, but not: (?x)^(
^docs/|
^tests/|
^test_utils/|
^src/example_simulator_functions/|
^src/queens_interfaces/|
^src/queens/(data_processors|distributions|drivers|iterators|models|parameters)/|
^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
^src/queens/main.py|
^src/queens/global_settings.py
).*$

