Repository queens-py/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint, pylint-integration-tests, mypy

.pre-commit-config.yaml:

default_stages: [pre-commit, pre-merge-commit, pre-push, manual]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2 # Ruff version
    hooks:
      # Run the linter.
      # Needs to placed before black, isort, and other formatters
      - id: ruff
        args: [--fix]
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
      - id: end-of-file-fixer
        name: fix end of files
        entry: end-of-file-fixer
        language: python
        types: [text]
      - id: check-added-large-files
        name: check for added large files
        entry: check-added-large-files
        language: python
        types: [text]
      - id: check-license-header
        name: check for correct license header
        entry: licenseheaders
        args: ["-t", "license_header.tmpl", "--files"]
        language: python
        types: ["python"]
        pass_filenames: true
      - id: docformatter
        name: docformatter
        entry: docformatter
        args: [--in-place]
        language: python
        types: ["python"]
      - id: commitizen
        name: commitizen
        entry: cz
        args: ["check", "--commit-msg-file", ".git/COMMIT_EDITMSG"]
        pass_filenames: false
        language: system
        stages: [commit-msg, manual]
      - id: isort
        name: isort (python)
        entry: isort
        language: python
        always_run: false
        pass_filenames: true
        additional_dependencies: ["toml"]
      - id: black
        name: black
        entry: black
        language: python
        types: ["python"]
        always_run: false
        pass_filenames: true
        additional_dependencies: ["toml"]
      - id: yamllint
        name: yamllint
        entry: yamllint
        args:
          - > # This is needed to lint the jinja templates
            -d={extends: default, rules: {braces: {max-spaces-inside: 1}
            , brackets: disable, document-start: disable, "line-length": {"max": 100}}}
          - -f=colored
        language: python
        types: ["yaml"]
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: ["python"]
        additional_dependencies: ["toml"]
        always_run: false
        pass_filenames: true
        exclude: '^tests/integration_tests/'
      - id: pylint-integration-tests
        name: pylint (tests)
        entry: pylint --disable=duplicate-code
        language: python
        types: ["python"]
        additional_dependencies: ["toml"]
        always_run: false
        pass_filenames: true
        files: '^tests/integration_tests/'
      - id: mypy
        name: mypy (check type hinting)
        entry: mypy
        language: python
        types: ["python"]
        pass_filenames: true
        # Delete modules once type hinting has been introduced there
        exclude: |
          (?x)^(
          ^docs/|
          ^tests/|
          ^test_utils/|
          ^src/example_simulator_functions/|
          ^src/queens_interfaces/|
          ^src/queens/(data_processors|distributions|drivers|iterators|models|parameters)/|
          ^src/queens/(schedulers|stochastic_optimizers|variational_distributions|visualization)/|
          ^src/queens/main.py|
          ^src/queens/global_settings.py
          ).*$
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: Strip outputs from Jupyter notebooks
        files: \.ipynb$

build: update dependencies
  .pixi-version
  pixi.lock
Due: none

fix: resolve issues due to dependency updates
  pyproject.toml
  src/queens/visualization/classification.py
  tests/integration_tests/conftest.py
  tests/integration_tests/iterators/test_control_variates.py
  tests/integration_tests/iterators/test_latin_hypercube_sampling.py
  tests/integration_tests/iterators/test_mlmc.py
  tests/integration_tests/iterators/test_monte_carlo.py
  tests/integration_tests/iterators/test_polynomial_chaos.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

fix: update lock file
  pixi.lock
Due: none

ci: update dependencies every 3 months
  .github/workflows/update_dependencies.yml
Due: yamllint

ci: introduce checking whether private methods have docstrings
  .pylintrc
Due: none

ci: allow only one automatic depdencies update PR at a time
  .github/workflows/update_dependencies.yml
Due: yamllint

ci: add workflow to enforce 24-hour wait on PRs
  .github/workflows/pull_request_age_check.yml
  CONTRIBUTING.md
Due: yamllint

feat: Add GaussianKDE distribution
  src/queens/distributions/__init__.py
  src/queens/distributions/gaussian_kde.py
  tests/unit_tests/distributions/test_gaussian_kde.py
Due: check-license-header, docformatter, black, pylint

feat: Add GaussianKDE distribution (#318)
  src/queens/distributions/__init__.py
  src/queens/distributions/gaussian_kde.py
  tests/unit_tests/distributions/test_gaussian_kde.py
Due: check-license-header, docformatter, black, pylint

ci: make the update-dependencies PR title conform to conventional commits
  .github/workflows/update_dependencies.yml
Due: yamllint

chore: gitignore the whole vscode folder
  .gitignore
Due: none

ci: allow only one automatic dependencies update PR at a time (#327)
  .github/workflows/update_dependencies.yml
Due: yamllint

chore: gitignore the whole vscode folder (#329)
  .gitignore
Due: none

style: remove unchecked docstring exception & add docstrings to __getattr__ methods
  .pylintrc
  src/queens/data_processors/__init__.py
  src/queens/distributions/__init__.py
  src/queens/drivers/__init__.py
  src/queens/iterators/__init__.py
  src/queens/models/__init__.py
  src/queens/parameters/random_fields/__init__.py
  src/queens/schedulers/__init__.py
  src/queens/stochastic_optimizers/__init__.py
  src/queens/variational_distributions/__init__.py
Due: check-license-header, docformatter, black, pylint

style: Remove almost duplicate docstrings
  src/queens/distributions/_distribution.py
  src/queens/distributions/beta.py
  src/queens/distributions/categorical.py
  src/queens/distributions/exponential.py
  src/queens/distributions/free_variable.py
  src/queens/distributions/lognormal.py
  src/queens/distributions/mean_field_normal.py
  src/queens/distributions/mixture.py
  src/queens/distributions/multinomial.py
  src/queens/distributions/normal.py
  src/queens/distributions/particle.py
  src/queens/distributions/truncated_normal.py
  src/queens/distributions/uniform.py
  src/queens/parameters/random_fields/_random_field.py
  src/queens/parameters/random_fields/fourier.py
  src/queens/parameters/random_fields/karhunen_loeve.py
  src/queens/parameters/random_fields/piece_wise.py
  src/queens/utils/iterative_averaging.py
  src/queens/utils/scaling.py
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/mean_field_normal.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/random_field.py
Due: check-license-header, docformatter, black, pylint, mypy

style: Add override decorators
  src/queens/distributions/_distribution.py
  src/queens/distributions/beta.py
  src/queens/distributions/categorical.py
  src/queens/distributions/exponential.py
  src/queens/distributions/free_variable.py
  src/queens/distributions/lognormal.py
  src/queens/distributions/mean_field_normal.py
  src/queens/distributions/mixture.py
  src/queens/distributions/multinomial.py
  src/queens/distributions/normal.py
  src/queens/distributions/particle.py
  src/queens/distributions/truncated_normal.py
  src/queens/distributions/uniform.py
  src/queens/parameters/random_fields/fourier.py
  src/queens/parameters/random_fields/karhunen_loeve.py
  src/queens/parameters/random_fields/piece_wise.py
  src/queens/utils/classifier.py
  src/queens/utils/collection.py
  src/queens/utils/iterative_averaging.py
  src/queens/utils/logger_settings.py
  src/queens/utils/metadata.py
  src/queens/utils/scaling.py
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/joint.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens/variational_distributions/mixture_model.py
  src/queens/variational_distributions/particle.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/random_field.py
Due: check-license-header, docformatter, black, pylint, mypy

style: Remove exact duplicate docstrings
  src/queens/distributions/_distribution.py
  src/queens/distributions/beta.py
  src/queens/distributions/lognormal.py
  src/queens/distributions/mixture.py
  src/queens/distributions/multinomial.py
  src/queens/distributions/truncated_normal.py
  src/queens/distributions/uniform.py
  src/queens/parameters/random_fields/karhunen_loeve.py
  src/queens/parameters/random_fields/piece_wise.py
  src/queens/utils/iterative_averaging.py
  src/queens/utils/scaling.py
  src/queens/variational_distributions/joint.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens/variational_distributions/mixture_model.py
  src/queens/variational_distributions/particle.py
Due: check-license-header, docformatter, black, pylint, mypy

style: Remove (almost) duplicate docstrings
  src/queens/variational_distributions/_variational_distribution.py
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/joint.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens/variational_distributions/mixture_model.py
  src/queens/variational_distributions/particle.py
Due: check-license-header, docformatter, black, pylint

style: Use override decorator
  pyproject.toml
Due: none

style: Remove (almost) duplicate docstrings
  src/queens/distributions/_distribution.py
  src/queens/utils/iterative_averaging.py
  src/queens/variational_distributions/_variational_distribution.py
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/joint.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens/variational_distributions/mixture_model.py
  src/queens/variational_distributions/particle.py
Due: check-license-header, docformatter, black, pylint, mypy

fix: pdf cannot be None
  src/queens/distributions/_distribution.py
Due: check-license-header, docformatter, black, pylint

style: Make override decorator usage mandatory (#323)
  pyproject.toml
  src/queens/distributions/_distribution.py
  src/queens/distributions/beta.py
  src/queens/distributions/categorical.py
  src/queens/distributions/exponential.py
  src/queens/distributions/free_variable.py
  src/queens/distributions/lognormal.py
  src/queens/distributions/mean_field_normal.py
  src/queens/distributions/mixture.py
  src/queens/distributions/multinomial.py
  src/queens/distributions/normal.py
  src/queens/distributions/particle.py
  src/queens/distributions/truncated_normal.py
  src/queens/distributions/uniform.py
  src/queens/parameters/random_fields/_random_field.py
  src/queens/parameters/random_fields/fourier.py
  src/queens/parameters/random_fields/karhunen_loeve.py
  src/queens/parameters/random_fields/piece_wise.py
  src/queens/utils/classifier.py
  src/queens/utils/collection.py
  src/queens/utils/iterative_averaging.py
  src/queens/utils/logger_settings.py
  src/queens/utils/metadata.py
  src/queens/utils/scaling.py
  src/queens/variational_distributions/_variational_distribution.py
  src/queens/variational_distributions/full_rank_normal.py
  src/queens/variational_distributions/joint.py
  src/queens/variational_distributions/mean_field_normal.py
  src/queens/variational_distributions/mixture_model.py
  src/queens/variational_distributions/particle.py
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/random_field.py
Due: check-license-header, docformatter, black, pylint, mypy

refactor: add jobs that ensure all tests and Pypi build checks pass & unify workflow namings
  .github/workflows/check_pull_request_age.yml
  .github/workflows/documentation.yml
  .github/workflows/local_testsuite.yml
  .github/workflows/test_pypi_build.yml
Due: yamllint

refactor: incorporate Copilot's feedback
  src/queens/data_processors/_data_processor.py
  src/queens/data_processors/csv_file.py
  src/queens/data_processors/numpy_file.py
  src/queens/data_processors/pvd_file.py
  src/queens/data_processors/txt_file.py
Due: check-license-header, docformatter, black, pylint

refactor: delete explicit file_path typing & rename raw_data in PvdFile
  src/queens/data_processors/_data_processor.py
  src/queens/data_processors/pvd_file.py
Due: check-license-header, docformatter, black, pylint

refactor: explicitly cast the PVD data reader
  src/queens/data_processors/pvd_file.py
Due: check-license-header, docformatter, black, pylint

refactor: add type hinting to data processors
  .pre-commit-config.yaml
  pyproject.toml
  src/queens/data_processors/__init__.py
  src/queens/data_processors/_data_processor.py
  src/queens/data_processors/csv_file.py
  src/queens/data_processors/numpy_file.py
  src/queens/data_processors/pvd_file.py
  src/queens/data_processors/txt_file.py
Due: check-license-header, docformatter, black, yamllint, pylint

fix: mypy error by adapting ExperimentalDataReader
  src/queens/utils/experimental_data_reader.py
Due: check-license-header, docformatter, black, pylint, mypy

refactor: remove type check & instantiate PVDReader directly
  src/queens/data_processors/pvd_file.py
Due: check-license-header, docformatter, black, pylint

fix: revert explicit PVDReader cast & introduce type check instead
  src/queens/data_processors/pvd_file.py
Due: check-license-header, docformatter, black, pylint

fix: add override decorators & adapt docstrings
  src/queens/data_processors/csv_file.py
  src/queens/data_processors/numpy_file.py
  src/queens/data_processors/pvd_file.py
  src/queens/data_processors/txt_file.py
Due: check-license-header, docformatter, black, pylint

feat: allow reusing existing job results
  src/queens/drivers/jobscript.py
  src/queens/models/adjoint.py
  src/queens/utils/metadata.py
  tests/conftest.py
  tests/integration_tests/drivers/test_jobscript_driver.py
  tests/unit_tests/drivers/test_jobscript.py
  tests/unit_tests/models/test_differentiable_adjoint.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

chore: include copilot's feedback, data processor is now also called when outputs.pickle doesn't exist
  src/queens/drivers/jobscript.py
  tests/unit_tests/drivers/test_jobscript.py
Due: check-license-header, docformatter, black, pylint

docs: update experiment directory documentation & allow executing tutorial 3 locally
  doc/source/faqs/directories.md
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
Due: none

feat: write job inputs and outputs as pickle & introduce data processor flag for reruns
  src/queens/drivers/jobscript.py
  src/queens/iterators/adaptive_sampling.py
  src/queens/utils/io.py
  src/queens/utils/metadata.py
  src/queens/utils/process_outputs.py
  tests/conftest.py
  tests/integration_tests/drivers/test_jobscript_driver.py
  tests/unit_tests/conftest.py
  tests/unit_tests/drivers/test_jobscript.py
  tests/unit_tests/utils/test_io_utils.py
  tests/unit_tests/utils/test_metadata.py
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests, mypy

fix: tutorial 3 that reruns a job with a different data processor
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
Due: none

refactor: include Regina's first feedback
  doc/source/faqs/directories.md
  src/queens/drivers/jobscript.py
  src/queens/utils/io.py
  tests/unit_tests/drivers/test_jobscript.py
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
Due: check-license-header, docformatter, black, pylint, mypy

fix: store explicit data processor in experimental data reader & add unit test to avoid this in the future
  src/queens/utils/experimental_data_reader.py
  tests/unit_tests/utils/test_experimental_data_reader.py
Due: check-license-header, docformatter, black, pylint, mypy

refactor: remove file_options_dict from NumpyFile, TxtFile, and PvdFile data processors
  src/queens/data_processors/numpy_file.py
  src/queens/data_processors/pvd_file.py
  src/queens/data_processors/txt_file.py
  tests/integration_tests/cluster/test_cluster.py
  tests/integration_tests/fourc/test_fourc_mc.py
  tests/integration_tests/fourc/test_fourc_mc_random_material_field.py
  tests/unit_tests/data_processors/test_numpy_file.py
  tests/unit_tests/data_processors/test_txt_file.py
  tests/unit_tests/drivers/test_jobscript.py
  tutorials/3_orchestrating_4c_simulations/3_orchestrating_4c_simulations.ipynb
  tutorials/4_quantifying_uncertainty_due_to_heterogeneous_material_fields/4_quantifying_uncertainty_due_to_heterogeneous_material_fields.ipynb
  tutorials/5_grid_iterator_4c_remote/5_grid_iterator_4c_remote.ipynb
Due: check-license-header, docformatter, black, pylint, pylint-integration-tests

docs: add AI-assisted contributions policy
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none
