Repository queens-py/queens: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, docformatter, black, yamllint, pylint

check-license-header:
  name: check for correct license header
  entry: licenseheaders
  args:
  - -t
  - license_header.tmpl
  - --files
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  args:
  - --in-place
  language: python

black:
  name: black
  entry: black
  language: python
  always_run: false
  pass_filenames: true
  additional_dependencies:
  - toml

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - '-d={extends: default, rules: {braces: {max-spaces-inside: 1} , brackets: disable, document-start: disable}}
  
    '
  - -f=colored
  language: python

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - toml
  always_run: false
  pass_filenames: true

test: Add checks for fields of result dict
  tests/integration_tests/python/test_rl_integration.py
Due: check-license-header, docformatter, black, pylint

test: add save/load unit test for RL iterator
  tests/unit_tests/iterators/test_rl_iterator.py
Due: check-license-header, docformatter, black, pylint

refactor: Rename function, adapt default attributes, and add parameter for deterministic predictions
  queens/iterators/rl_iterator.py
  queens/models/rl_models/rl_model.py
  queens/models/rl_models/utils/gym_utils.py
  queens/models/rl_models/utils/sb3_utils.py
Due: check-license-header, docformatter, black, pylint

refactor: Add option to pass seeds to make agent training deterministic
  queens/models/rl_models/utils/gym_utils.py
  queens/models/rl_models/utils/sb3_utils.py
Due: check-license-header, docformatter, black, pylint

fix: apply suggestions from code review
  queens/iterators/rl_iterator.py
  tests/unit_tests/models/test_rl_model.py
Due: check-license-header, docformatter, black, pylint

fix: uptodate to main
  queens/iterators/__init__.py
  queens/iterators/reinforcement_learning.py
  queens/models/__init__.py
  queens/models/reinforcement_learning/reinforcement_learning.py
  queens/models/reinforcement_learning/utils/gymnasium.py
  queens/models/reinforcement_learning/utils/stable_baselines3.py
  tests/integration_tests/python/test_reinforcement_learning_integration.py
Due: check-license-header, docformatter, black, pylint

refactor: comments to render properly with sphinx
  queens/iterators/reinforcement_learning.py
  queens/models/reinforcement_learning/__init__.py
  queens/models/reinforcement_learning/reinforcement_learning.py
  queens/models/reinforcement_learning/utils/stable_baselines3.py
Due: check-license-header, docformatter, black, pylint

fix: deprecated process_result call
  queens/iterators/reinforcement_learning.py
  tests/integration_tests/python/test_reinforcement_learning_integration.py
Due: check-license-header, docformatter, black, pylint

test: create parameterized fixture
  tests/unit_tests/iterators/test_reinforcement_learning.py
Due: check-license-header, docformatter, black, pylint

build: use CPU torch installation
  .github/actions/create_python_environment/action.yml
  requirements.txt
Due: yamllint

refactor: include other suggestions from review
  queens/iterators/reinforcement_learning.py
  queens/models/reinforcement_learning/reinforcement_learning.py
  queens/models/reinforcement_learning/utils/gymnasium.py
  queens/models/reinforcement_learning/utils/stable_baselines3.py
  tests/unit_tests/models/test_reinforcement_learning.py
Due: check-license-header, docformatter, black, pylint

fix: Workflow quick-fix by @gilrrei as proposed in #140
  .github/workflows/tests_local.yml
Due: yamllint

refactor: filenames according to new naming style guide
  queens/iterators/__init__.py
  queens/iterators/reinforcement_learning.py
  queens/models/__init__.py
  queens/models/reinforcement_learning/__init__.py
  queens/models/reinforcement_learning/reinforcement_learning.py
  queens/models/reinforcement_learning/utils/__init__.py
  queens/models/reinforcement_learning/utils/gymnasium.py
  queens/models/reinforcement_learning/utils/stable_baselines3.py
  tests/integration_tests/python/test_reinforcement_learning_integration.py
  tests/unit_tests/iterators/test_reinforcement_learning.py
  tests/unit_tests/models/test_reinforcement_learning.py
Due: check-license-header, docformatter, black, pylint

refactor: do not use xfail and pylint short codes
  tests/integration_tests/python/test_reinforcement_learning_integration.py
  tests/unit_tests/data_processors/test_txt_file.py
  tests/unit_tests/iterators/test_reinforcement_learning.py
  tests/unit_tests/models/test_reinforcement_learning.py
Due: check-license-header, docformatter, black, pylint

fix: load gcc-13-2-0 in jobscript template
  queens/drivers/function.py
  queens/iterators/grid.py
  templates/jobscripts/fourc_bruteforce.sh
  templates/jobscripts/fourc_thought.sh
  tests/unit_tests/iterators/test_grid.py
Due: check-license-header, docformatter, black, pylint

ci: add setuptools to authorized packages
  pyproject.toml
Due: none

docs: add onboarding
  .gitignore
  doc/source/_ext/create_documentation_files.py
  doc/source/_ext/templates/tutorials.monte_carlo_uq.rst.j2
  doc/source/_ext/templates/tutorials.rst.j2
  doc/source/tutorials.onboarding.rst
  doc/source/tutorials.rst
Due: check-license-header, docformatter, black, pylint

docs: apply feedback
  doc/source/tutorials.onboarding.rst
Due: none

docs: apply second round feedback
  doc/source/tutorials.onboarding.rst
Due: none

refactor: naming of simulation files
  queens/drivers/jobscript.py
  tests/integration_tests/fourc/test_fourc_mc.py
  tests/unit_tests/drivers/test_jobscript.py
Due: check-license-header, docformatter, black, pylint

refactor: adaptive sampling iterator
  queens/iterators/adaptive_sampling.py
Due: check-license-header, docformatter, black, pylint

Include Jupyter notebook tutorial with unit testing
  dev-requirements.in
  dev-requirements.txt
  tests/unit_tests/tutorials/__init__.py
  tests/unit_tests/tutorials/test-1-grid-iterator-rosenbrock.py
  tests/unit_tests/tutorials/test-tutorials.py
  tutorials/1-grid-iterator-rosenbrock/1-grid-iterator-rosenbrock.ipynb
Due: check-license-header, docformatter, black, pylint

Correct Pylint naming and docstring
  tests/unit_tests/tutorials/test_1_grid_iterator_rosenbrock.py
  tests/unit_tests/tutorials/test_tutorials.py
Due: check-license-header, docformatter, black, pylint

fix(adaptive_sampling): prevent resampling duplicates
  queens/iterators/adaptive_sampling.py
Due: check-license-header, docformatter, black, pylint

refactor: add method to get_particles_and_weights
  queens/iterators/sequential_monte_carlo_chopin.py
Due: check-license-header, docformatter, black, pylint

refactor(adaptive_sampling): drop support of some solving_iterators
  queens/iterators/adaptive_sampling.py
Due: check-license-header, docformatter, black, pylint

fix(adaptive_sampling): sample from prior if adaptvie sampling fails
  queens/iterators/adaptive_sampling.py
Due: check-license-header, docformatter, black, pylint

fix(adaptive_sampling): reset random seed
  queens/iterators/adaptive_sampling.py
Due: check-license-header, docformatter, black, pylint

fix: deprecation warning
  queens/models/logpdf_gp.py
Due: check-license-header, docformatter, black, pylint

refactor: remove "Abort..." from error messages
  src/queens/data_processors/_data_processor.py
  src/queens/data_processors/csv_file.py
  src/queens/iterators/_variational_inference.py
  src/queens/iterators/bmfia.py
  src/queens/iterators/bmfmc.py
  src/queens/iterators/sequential_monte_carlo_chopin.py
  src/queens/models/bmfmc.py
  src/queens/models/likelihoods/bmf_gaussian.py
  src/queens/models/surrogates/bayesian_neural_network.py
  src/queens/models/surrogates/heteroskedastic_gaussian_process.py
  src/queens/models/surrogates/jitted_gaussian_process.py
  src/queens/visualization/bmfia_visualization.py
  src/queens/visualization/grid_iterator_visualization.py
Due: check-license-header, docformatter, black, pylint

refactor: refactor dataprocessors
  src/queens/data_processors/_data_processor.py
  src/queens/data_processors/csv_file.py
  src/queens/data_processors/numpy_file.py
  src/queens/data_processors/pvd_file.py
  src/queens/data_processors/txt_file.py
  src/queens/drivers/jobscript.py
  src/queens/utils/experimental_data_reader.py
  tests/integration_tests/cluster/test_fourc_mc_cluster.py
  tests/integration_tests/fourc/test_fourc_mc.py
  tests/integration_tests/python/test_rpvi_iterator_exe_park91a_hifi_provided_gradient.py
  tests/unit_tests/data_processors/test_csv_file.py
  tests/unit_tests/data_processors/test_numpy_file.py
  tests/unit_tests/data_processors/test_txt_file.py
  tests/unit_tests/drivers/test_jobscript.py
Due: check-license-header, docformatter, black, pylint

refactor: 4C random material fields
  .github/actions/create_python_environment/action.yml
  pyproject.toml
  src/queens/data_processors/__init__.py
  src/queens/data_processors/ensight_file.py
  src/queens/external_geometries/__init__.py
  src/queens/external_geometries/_external_geometry.py
  src/queens/external_geometries/fourc_dat.py
  src/queens/utils/from_config_create.py
  src/queens_interfaces/fourc/README.md
  src/queens_interfaces/fourc/fourc_requirements.txt
  src/queens_interfaces/fourc/random_material_preprocessor.py
  tests/input_files/third_party/csv/scatra_baci/alternative_files/diffusion_fine_experimental_data.csv
  tests/input_files/third_party/csv/scatra_baci/alternative_files/diffusion_very_coarse_experimental_data.csv
  tests/input_files/third_party/csv/scatra_baci/diffusion_coarse_experimental_data.csv
  tests/input_files/third_party/fourc/coarse_plate_dirichlet_template.4C.yaml
  tests/input_files/third_party/fourc/coarse_plate_dirichlet_template.dat
  tests/input_files/third_party/fourc/solid_runtime_hex8.dat
  tests/integration_tests/fourc/test_external_geometry_from_dat.py
  tests/integration_tests/fourc/test_fourc_mc_random_field_ensight.py
  tests/integration_tests/fourc/test_fourc_mc_random_material_field.py
  tests/unit_tests/external_geometries/test_fourc_dat.py
Due: check-license-header, docformatter, black, yamllint, pylint

Tutorial: Modify cells to be more informative
  tutorials/1-grid-iterator-rosenbrock/1-grid-iterator-rosenbrock.ipynb
Due: none

Tutorials: Add to docs with collapsable output
  doc/source/_static/collapse_output.js
  doc/source/conf.py
  doc/source/tutorials.rst
  doc/source/tutorials/1-grid-iterator-rosenbrock/1-grid-iterator-rosenbrock.ipynb
  tests/unit_tests/tutorials/test_1_grid_iterator_rosenbrock.py
  tests/unit_tests/tutorials/test_tutorials.py
Due: check-license-header, docformatter, black, pylint

Tutorials: modify testing scheme
  tests/unit_tests/tutorials/test_1_grid_iterator_rosenbrock.py
  tutorials/1-grid-iterator-rosenbrock/1-grid-iterator-rosenbrock.ipynb
Due: check-license-header, docformatter, black, pylint

feat: switch to client.gather and WorkerPlugin for worker restarts
  src/queens/schedulers/_dask.py
  src/queens/schedulers/cluster.py
  src/queens/schedulers/local.py
Due: check-license-header, docformatter, black, pylint

feat: Introduce maximum wait time parameter
  src/queens/schedulers/_dask.py
  src/queens/schedulers/cluster.py
  src/queens/schedulers/local.py
Due: check-license-header, docformatter, black, pylint

docs: add a link to the integration tests to the tutorials
  doc/source/tutorials.rst
Due: none

Tutorials: Clean and organise docu
  doc/source/_static/collapse_output.js
  doc/source/tutorials/1-grid-iterator-rosenbrock/1-grid-iterator-rosenbrock.ipynb
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

Path conditions:
  check-license-header: any of: \.py$
  docformatter: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$
